<div class="ui grid">

    <div class="row">

        <div class="three wide column">

            <data-table-option-limits></data-table-option-limits>

        </div>

        <div class="right aligned thirteen wide column">

            <data-table-option-search></data-table-option-search>

        </div>

    </div>

    <div class="row">

        <div class="sixteen wide column">

            <table id="example" class="ui striped selectable celled compact table" cellspacing="0" width="100%" role="grid" aria-describedby="example_info" style="width: 100%;">

                <thead>

                    <ng-content select="data-table-column-definitions"></ng-content>

                </thead>


                <tbody>

                    <tr role="row" class="odd">
                        <td class="sorting_1">Airi Satou</td>
                        <td>Accountant</td>
                        <td>Tokyo</td>
                        <td>33</td>
                        <td>2008/11/28</td>
                        <td>$162,700</td>
                    </tr>
                    <tr role="row" class="even">
                        <td class="sorting_1">Angelica Ramos</td>
                        <td>Chief Executive Officer (CEO)</td>
                        <td>London</td>
                        <td>47</td>
                        <td>2009/10/09</td>
                        <td>$1,200,000</td>
                    </tr>

                </tbody>

            </table>

        </div>

    </div>

    <div class="row">

        <div class="seven wide column">

            <data-table-option-counts></data-table-option-counts>

        </div>

        <div class="right aligned nine wide column">

            <data-table-option-pagination></data-table-option-pagination>

        </div>

    </div>

</div>
