<div class="ui attached inverted  stackable menu">

    <a [routerLink]="['dashboard']" class="item"><i class="home icon"></i> Dashboard</a>
    <a [routerLink]="['customers']" class="item"><i class="building icon"></i> Customers</a>
    <a [routerLink]="['settings']" class="item"><i class="settings icon"></i> Settings</a>

    <div class="right item">

        <button [routerLink]="['desktop']" class="ui right labeled icon green button">
            
            <i class="desktop icon"></i>
            Launch Desktop

        </button>
    </div>

</div>
