<!--<div style="background: #000">-->
<!--  <div class="ui inverted  menu ">-->
<!--    <a class="active item">-->
<!--    Home-->
<!--  </a>-->
<!--    <a class="item">-->
<!--    Messages-->
<!--  </a>-->
<!--    <div class="right menu">-->
<!--      <div class="ui dropdown item">-->
<!--        Language <i class="dropdown icon"></i>-->
<!--        <div class="menu">-->
<!--          <a class="item">English</a>-->
<!--          <a class="item">Russian</a>-->
<!--          <a class="item">Spanish</a>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <div class="ui primary button">Sign Up</div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="ui attached inverted  stackable menu">

    <a routerLink="/dashboard" class="item"><i class="home icon"></i> Dashboard</a>
    <a class="item"><i class="grid layout icon"></i> Something</a>
    <a routerLink="/settings" class="item"><i class="settings icon"></i> Settings</a>

    <div class="right item">
        <button [routerLink]="['/desktop']" class="ui right labeled icon green button">
            
            <i class="desktop icon"></i>
            Launch Desktop

        </button>
    </div>

</div>

