<div class="ui four statistics">
    <div class="statistic blue">
        <div class="value">
            22
        </div>
        <div class="label">
            open orders
        </div>
    </div>
    <div class="statistic">
        <div class="text value">
            Three<br> Thousand
        </div>
        <div class="label">
            Trades
        </div>
    </div>

    <div class="statistic">
        <div class="value">
            <i class="percent icon" style="font-size: 26px"></i> 5
        </div>
        <div class="label">
            Errors
        </div>
    </div>

    <div class="statistic green">
        <div class="label">
            Profit & Loss
        </div>
        <div class="value">
            <i class="dollar icon" style="font-size: 30px; font-weight: normal"></i> 599.99
        </div>
    </div>
</div>
