<h2 class="ui header">

    <i class="building outline icon"></i>

    <div class="content">

        Manage Customers

        <div class="sub header">Customer accounts, users, addresses & more.</div>

    </div>

</h2>

<data-table [datasource]="['datasource']" sorting="true">

    <data-table-column-definitions>

        <data-table-column propertyName="id" label="#"></data-table-column>
        <data-table-column propertyName="company" label="Customer Name"></data-table-column>

    </data-table-column-definitions>

</data-table>
