<div style="margin-bottom: 10px !important">

    <sm-segment>

        <h1 class="ui header">

            Your AlgoLab Dashboard

        </h1>

    </sm-segment>

</div>

<div style="margin-bottom: 10px !important">

    <sm-segment>

        <app-stats-header></app-stats-header>
    </sm-segment>
</div>
<div style="margin-bottom: 10px !important">

    <div class="ui grid">

        <div class="ten wide column">
            <sm-segment>

                <p></p>

            </sm-segment>
        </div>

        <div class="six wide column">
            <sm-segment>
                <div class="ui feed">
                    <div class="event">
                        <div class="label">
                            <i class="icon dashboard"></i>
                        </div>
                        <div class="content">
                            <div class="date">
                                3 days ago
                            </div>
                            <div class="summary">
                                algolab111 account created.
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="label">
                            <i class="sign in icon"></i>
                        </div>
                        <div class="content">
                            <div class="date">
                                1 day ago
                            </div>
                            <div class="summary">
                                <a routerLink="/settings">settings</a> updated
                            </div>
                            <div class="extra text">
                                Updated IB Login Credentials.
                            </div>
                        </div>
                    </div>
                </div>
            </sm-segment>
        </div>

    </div>

</div>
