/* You can add global styles to this file, and also import other style files */

body {
    background: #fff !important;
}

.ui .modal .header,
.ui .modal .actions {
    background: rgba(0, 0, 0, .05) !important;
}

.ui .modal .actions button {
    margin-left: 5px;
}
